.contentBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--gray-500);
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: var(--gray-500);
    margin: 0;
    font: inherit;
    width: 1.3rem;
    height: 1.3rem;
    border: 0.2em solid var(--blue-300);
    border-radius: 0.75em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--blue-300);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

.taskContent {
    color: var(--gray-100);
    flex: 1;
    margin: 0 1rem;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
}

.imageStyle {
    height: 1rem;
    padding: 0 0.6rem;
    cursor: pointer;
}

.imageWrapper {
    background: var(--gray-500);
    border: none;
    align-items: center;
    justify-content: center;   
    cursor: pointer;
}